body {
  background-color: lavenderblush;
}

#top {
  text-align: center;
  background-color: gray;
  width: 600px;
  color: aliceblue;
}

#survey-form {
  background-color: rgb(117, 117, 184);
  width: 500px;
  color: black;
}

#name,
#email,
#number,
#dropdown {
  width: 200px;
}

#submit {
  width: 100px;
}

#checkbox1,
#checkbox2,
#checkbox3 {
  color: rgb(110, 110, 110);
  margin: 0px 10px;
}
